* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin-bottom: 30px;
}
/* nav bar  */
.header-section nav {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 10px;
}
.header-section nav div {
  margin-right: 25px;
}

.header-section nav div a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: #ff5959;
}

/* header container */

.header-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.header-container div {
  width: 100%;
}
.heading-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-details div h1 {
  font-size: 50px;
  margin: 20px 0;
}
.heading-details p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin: 10px 0;
}

.heading-img {
}
.heading-img img {
  width: 100%;
  width: 100%;
}

/* all button style  */
.btn-style {
  padding: 5px 15px;
  border: none;
  background-color: #ff5959;
  color: white;
}

/* mission part  */
.mission-container {
  width: 70%;
  margin: 0 auto;
}

.mission-container h2 {
  font-size: 30px;
  text-align: center;
}
.mission-items-container {
  display: flex;
  margin-top: 10px;
}
.mission-item img {
  width: 150px;
  height: 150px;
}
.mission-item {
  width: 100%;
  padding: 20px;
  margin: 0 10px;
  border-radius: 15px;
}
#mission-item-1 {
  background-color: #6daab1;
}
#mission-item-2 {
  background-color: #f87d7d;
}
#mission-item-3 {
  background-color: #f7ba7e;
}
